@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar{
  display: flex;
  justify-content: space-between;
}
.hamburger{
  display:none;
}
.hamb{
  background-color:#081226;
  width:28px;
  border-radius: 15px;
  height: 3px;
}
.mobilenav{
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  display: none;
  transform:translateX(-100%) ;
  transition: transform 0.4s linear;
}
.shownav{
  transform: translateX(0%);
}
.mobilenav{
  display: none;
}
.hamb{
  display: none;
}


.chooseusimg{
  position: relative;
  width:40%;
}
.chooseusimg::before{
  content: "";
  position:absolute;
  top:-8px;
  right:-8px;
  display: flex;
  border-right-width: 8px;
  border-top-width: 8px;
  border-color: #292929;
  width:50%;
  height:70%;
}
.chooseusimg::after{
  content: "";
  position:absolute;
  bottom:-8px;
  left:-8px;
  display: flex;
  border-left-width: 8px;
  border-bottom-width: 8px;
  border-color: #01a4ef;
  width:20%;
  height:45%;
}
@media only screen and (max-width:848px) {
  .hamburger{
      display: flex;
      flex-direction: column;
      gap:3px;
  }
  .hamb{
      display: block;
  }
  .mobilenav{
      display:flex;
      flex-direction:column;
      gap:16px;
  }
  .nav{
      display:none !important;
  }
}
